// Colors
$CardShadow: 0 2px 4px rgba(0, 0, 0, 0.2);
$White: #ffffff;
$BaseGrey: #eeeeee;
$MainGrey: #333333;
$SecondaryText: #b8b8b8;
$BluePrimary: #1bcaff;
$PurplePrimary: #5c5dff;
$PurpleSecondary: rgba(92, 93, 255, 0.2);
$BlueSecondary: rgba(27, 202, 255, 0.2);
