@font-face {
	font-family: 'averta';
	src: url('/src/assets/fonts/Averta-Regular.otf') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'averta';
	src: url('/src/assets/fonts/Averta-Semibold.otf') format('embedded-opentype');
	font-weight: 600;
	font-style: 600;
}
