@import '../../../styles/variables';

.containter {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	box-sizing: border-box;
	padding: 16px;
	box-shadow: $CardShadow;
}

.searchBlock {
	width: 30%;
}

.searchBlock form {
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.searchBlock input {
	height: 30px;
	font-family: 'averta';
	padding-left: 12px;
	width: 320px;
}
.searchBlock input:focus {
	outline: none !important;
	border: 1px solid $BluePrimary;
	box-shadow: 0 0 5px $BluePrimary;
}

.searchBlock button {
	font-family: 'averta';
	height: 35px;
	margin-left: 1px;
	background-color: white !important;
	border-color: grey;
	width: 20%;
}
.searchBlock button:focus {
	outline: none !important;
	border: 1px solid $BluePrimary;
	box-shadow: 0 0 5px $BluePrimary;
}

.searchBarWrap {
	display: flex;
	flex-direction: column;
	position: relative;
	span {
		font-family: 'averta';
		color: $Error;
		font-size: 10px;
		position: absolute;
		top: 40px;
	}
}

.resultContainer {
	width: 100%;
	display: flex;
	margin: 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.orderByBlock {
	margin-left: 50px;
	width: 20%;
	display: flex;
	align-items: center;
}

.orderByBlock > span {
	font-family: 'averta';
	font-size: 12px;
	margin-right: 5px;
}

.averageByBlock {
	font-family: 'averta';
	height: 30px;
	font-size: 12px;
	margin-left: 50px;
	width: 20%;
	display: flex;
	align-items: center;
}

.averageByBlock strong {
	font-size: 24px;
	font-weight: normal;
}

.loadingBar {
	background-color: $PurplePrimary;
	z-index: 1;
	order: 0;
	height: 2px;
}
