@import '../../../styles/variables';

.dropdown {
	width: 100px;
	height: 35px;
	border-radius: 0px;
	border-image: none;
}
select:focus {
	outline: none !important;
	border: 1px solid $BluePrimary;
	box-shadow: 0 0 5px $BluePrimary;
}
